// define primary color (if not set via config)
@rock-primary: #008660;

html {
  --rock-primary: @rock-primary;

  --rock-gray-100: #f5f5f5;
  --rock-gray-200: #eeeeee;
  --rock-gray-300: #e0e0e0;
  --rock-gray-400: #bdbdbd;
  --rock-gray-500: #9e9e9e;
  --rock-gray-600: #757575;
  --rock-gray-700: #616161;
  --rock-gray-800: #424242;
  --rock-gray-900: #212121;
}

@import "overrides.less";

@import "general.less";
@import "inputfields.less";
@import "forms.less";
@import "buttons.less";
@import "notifications.less";
@import "pagelist.less";
@import "darkmode.less";
