/* ##### Frontend Editing Overrides for ALFRED ##### */

@alfred-modal-background: @global-muted-background; // header and footer bar
@alfred-modal-color: @global-color; // text for header and footer bar
@alfred-primary: @global-primary-background; // primary button
@alfred-secondary: #7c7c7c; // secondary button

// pw modal
.ui-dialog.ui-front {
  // titlebar
  .ui-dialog-titlebar {
    background-color: @alfred-modal-background !important;
    .ui-dialog-title {
      color: @alfred-modal-color !important;
    }
    i {
      color: @alfred-modal-color !important;
    }
    button {
      background-color: transparent !important;
    }
  }

  // modal content
  iframe.pw-modal-window {
    opacity: 0;
    transition: opacity 0.5s ease;
    &.pw-modal-loaded {
      opacity: 1;
    }
  }

  // footer (with buttons)
  .ui-dialog-buttonpane {
    .uk-background-muted;

    .ui-button {
      border: 0;
      outline: 0;
      background: @alfred-primary;
      &:hover { background: darken(@alfred-primary, 10%); }
    }
  }
}

// inline editing
.ui-widget.pw-edit-buttons {
  .uk-background-muted;
  .ui-button {
    border: 0 !important;
    outline: 0 !important;
  }
  .pw-edit-save {
    background: @alfred-primary;
    &:hover { background: darken(@alfred-primary, 10%); }
  }
  .pw-edit-cancel {
    background: @alfred-secondary !important;
    &:hover { background: darken(@alfred-secondary, 10%) !important; }
  }
  .pw-edit-saving,
  .pw-edit-saved {
    background: @alfred-secondary !important;
  }
}

// vex dialog
.vex {
  .vex-dialog-button-primary {
    background-color: @alfred-primary !important;
    color: white;
  }
}
