/*
GUIDE:
Primary Color for action items (buttons and links)
Input has dark gray border-bottom
*/

/*
##### Variables #####
*/
html {
  --rock-input-borderwidth: 2px;
}

// remove padding from tabs in page edit screen
// @ryan can we move that from core to reno?
.uk-tab > * {
  padding-left: 0;
}

// inputfield highlight to make them more visible
// only action items are primary color (buttons, links)
// inputfields, checkboxes, radios are dark gray
.uk-input,
.uk-select,
.uk-textarea,
.uk-checkbox:not(:checked),
.InputfieldTinyMCE .InputfieldTinyMCEInline:not(.fake-important) {
  border: 1px solid var(--rock-gray-300);
  // border-left: 3px solid var(--rock-primary);
  border-bottom: var(--rock-input-borderwidth) solid var(--rock-gray-900);
  // border-bottom: 2px solid var(--rock-primary);
  // background-color: var(--rock-gray-200);
}
:not(.fake-important) {
  .uk-radio:checked,
  .uk-checkbox:checked,
  .uk-checkbox:indeterminate {
    background-color: var(--rock-gray-900);
  }
}

// move notes closer to their inputfields
// and make the border highlight less aggressive
p.notes:not(.fake-important) {
  margin-top: 10px;
  background-color: var(--rock-gray-100);
  border-left: 0;
}

// make ASM list items gray
// @ryan could we add a dedicated class for all these items?
.Inputfields {
  .asmListItem {
    border: 0;
  }
  .asmListItemLabel {
    background-color: var(--rock-gray-600);
  }
}
.InputfieldPageListSelectMultiple > ol > li:not(.fake-important) {
  border: 0;
  background-color: var(--rock-gray-600);
}

// .Inputfield,
// .InputfieldFieldset > .InputfieldContent > .Inputfields .Inputfield {
//   outline: var(--rock-inputfield-linewidth) solid white;
//   &.rpb-item {
//     outline: 0;
//     background-color: var(--rock-gray-300) !important;
//   }
//   background-color: var(--rock-gray-200);
//   > .InputfieldHeader,
//   > .InputfieldHeader:hover:not(.fake-important) {
//     background-color: transparent;
//   }
//   > .InputfieldContent {
//     background-color: transparent;
//   }
// }

// repeater and asm select items
// .InputfieldFileList > li > .InputfieldItemHeader,
// .InputfieldFileList > li > .InputfieldItemHeader:hover,
// .Inputfields
//   .InputfieldRepeater
//   .InputfieldContent
//   .InputfieldRepeaterItem
//   > .InputfieldHeader,
// .pw-content li.ui-state-default,
// .pw-content .ui-widget-content li.ui-state-default,
// .pw-content .ui-widget-content li.ui-state-hover {
//   outline: 0;
//   border: 0;
//   background-color: var(--rock-gray-300);
//   color: var(--rock-global-color);
//   .InputfieldFileName {
//     color: var(--rock-global-color);
//   }
// }

// p.notes {
//   background-color: var(--rock-gray-100);
// }
