/*
GUIDE:
Primary Color for action items (buttons and links)
Input has dark gray border-bottom
*/

/*
##### Variables #####
*/
html {
  --rock-input-borderwidth: 1px;
}

// remove padding from tabs in page edit screen
// @ryan can we move that from core to reno?
.uk-tab > * {
  padding-left: 0;
}

// inputfield highlight to make them more visible
// only action items are primary color (buttons, links)
// inputfields, checkboxes, radios are dark gray
.uk-input,
.uk-select,
.uk-textarea,
.uk-checkbox,
.uk-radio,
.uk-button-default,
.InputfieldTinyMCE .InputfieldTinyMCEInline:not(.fake-important) {
  border: 1px solid var(--rock-gray-500);
}
:not(.fake-important) {
  .uk-radio:checked,
  .uk-checkbox:checked,
  .uk-checkbox:indeterminate {
    background-color: var(--rock-gray-900);
  }
}

// inputfields get some vertical space
// and box shadow to make them stand out more
ul.Inputfields {
  row-gap: 10px;
  > li.Inputfield:not(.WireTab) {
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
  }
}

// move notes closer to their inputfields
// and make the border highlight less aggressive
p.notes:not(.fake-important) {
  margin-top: 10px;
  border-left: 0;
  padding-left: 5px;

  // background is transparent black
  // this makes it work both on white inputfields and on
  // gray fieldsets, where gray-100 would not stand out at all
  background-color: rgba(0, 0, 0, 0.05);
}

// make ASM list items gray
// @ryan could we add a dedicated class for all these items?
.Inputfields {
  .asmListItem {
    border: 0;
  }
  .asmListItemLabel {
    background-color: var(--rock-gray-600);
  }
}
.InputfieldPageListSelectMultiple > ol > li:not(.fake-important) {
  border: 0;
  background-color: var(--rock-gray-600);
}

// Toggle
.InputfieldToggleGroup label:not(.InputfieldToggleCurrent) {
  opacity: 0.5;
}
.InputfieldToggleCurrent {
  outline: 2px solid #3e3e3e;
  font-weight: bold;
  z-index: 1;
}
