// primary alert should be neutral grey instead of primary color
// this prevents red primary alert when rock-primary color is red
// which would be confusing as it would be the same for error messages!
// see https://i.imgur.com/dxhDz81.png
@alert-primary-background: @global-muted-background;
@alert-primary-color: @global-color;

// improve contrast of alerts
@alert-warning-color: #ff6f00;
@notification-message-warning-color: @alert-warning-color;

// make notification bug darker to stand out from masthead
#NotificationBug {
  background-color: @global-color;
}

// remove spacing: https://i.imgur.com/l6TJIIJ.png
.pw-notices {
  margin: 0;
  > li {
    margin: 0;
    margin-top: 1px;
  }
}

// vex dialogs
.vex-dialog-button.vex-dialog-button-primary {
  background: @global-primary-background !important;
}
