@rock-padding-y: 7px; // defines the line-height of pagelist items
@rock-pagelist-color: @rock-gray-800; // pagelist item color
@rock-special-opacity: 0.9; // opacity of special pages (hidden/unpub)
@rock-pagestatus-opacity: 0.5; // opacity of status indicator icons of special pages (hidden/unpub)

.PageListRoot {
  // border width of tree lines
  --rock-line-width: 2px;

  // 30px matches the toggle icon
  --rock-indent-width: 30px;
}

// page list item color
.PageList .PageListItem > a.PageListPage {
  color: @rock-pagelist-color;
  font-weight: normal;
}
.PageList .PageListItemOpen > a.PageListPage {
  color: @rock-pagelist-color;
  font-weight: normal;
}
.PageList .PageListTriggerOpen > a.PageListPage {
  color: @rock-pagelist-color;
  font-weight: normal;
}
.PageList .PageListItem > a.PageListPage:hover,
.PageList .PageListItem.PageListItemHover > a.PageListPage {
  color: black !important;
  text-decoration: none;
}
.PageListItem.PageListHasChildren > a.PageListPage:before {
  color: @rock-pagelist-color !important;
}

// pagelist action buttons
.PageList .uk-pagination a,
.PageList .PageListActions a {
  color: white;
  background-color: @rock-gray-700;
}
.PageList .uk-pagination a:hover,
.PageList .PageListActions a:hover {
  background-color: darken(@rock-primary, 20%);
}
.PageList .uk-pagination .uk-active a,
.PageList .PageListActions li.PageListActionEdit a {
  background-color: darken(@rock-primary, 10%);
}
.PageList .PageListMoveNote a {
  background-color: darken(@rock-primary, 10%);
  &:hover {
    background-color: darken(@rock-primary, 20%);
  }
}

// pagelist items (lines + nesting indicators)
.PageList .PageList {
  border-left: var(--rock-line-width) solid @rock-gray-300;
}
.PageListRoot > .PageList .PageList {
  margin-left: var(--rock-indent-width);
}
.PageList .PageListItem {
  border-bottom: none;
  border-bottom-width: 0;

  // add padding to anchor elements
  // this makes hover of lines take effect immediately when changing
  // the row and not only if hovered over the line label
  > a {
    display: inline-block;
    padding-top: @rock-padding-y;
    padding-bottom: @rock-padding-y;
  }
}
.PageList .PageListItem:not(.PageListID1):not(.PageListPlaceholderItem) {
  border-bottom: none;
  border-top: none;
  padding: 0;
  padding-left: 10px;
  margin-top: 0px;
  border-left: var(--rock-line-width) solid @rock-gray-300;
  margin-left: calc(-1 * var(--rock-line-width));
}
.PageListItem:hover:not(.PageListID1):not(.PageListPlaceholderItem) {
  // left border darker on hover
  border-left: var(--rock-line-width) solid @rock-gray-500;
}

// adjustments for pagination and more button
.PageList > ul.PageListActions,
ul.uk-pagination {
  padding-left: 5px;
}

// special pages: hidden/unpublished
.PageListStatusHidden,
.PageListStatusUnpublished,
.PageListStatusHidden:hover {
  font-style: italic;
  // text opacity
  a.PageListPage.label {
    opacity: @rock-special-opacity !important;
  }
}
.PageListStatusUnpublished,
.PageListStatusUnpublished:hover,
.PageListStatusSystem,
.PageListStatusSystem:hover {
  // light muted background
  background-color: @rock-gray-100 !important;
}
.PageListID1,
.PageListID1:hover {
  // no background on root page
  background-color: transparent !important;
}
.PageList .PageListStatusUnpublished a.PageListPage > span,
.PageList .PageListStatusUnpublished a.PageListPage {
  // no strikethrough etc
  text-decoration: none !important;
}

// page status indicators
.PageListItem::before {
  display: inline-block;
  content: "--";
  // font-family: fontAwesome;
  font-family: "Courier New", Courier, monospace;
  margin-right: 0.5rem;
  margin-left: -0.7rem;
  margin-bottom: 0.25rem;
  color: green;
  // font-size: 12px;
}
.PageListStatusHidden::before {
  content: "-/";
  color: orange;
  opacity: @rock-pagestatus-opacity;
}
.PageListStatusUnpublished::before {
  content: "-x";
  color: red;
  opacity: @rock-pagestatus-opacity;
}

// no page status on root page
.PageListID1::before {
  display: inline-block;
  content: "";
}

// moving/sorting improvements
.PageListPlaceholderItem::before {
  // no status-indicator
  content: "";
}
.PageListSortPlaceholder {
  // align left border with other pagelist items
  margin-left: 4px;
  border-left: 2px solid @rock-gray-700 !important;
}
.PageListPlaceholder {
  height: 10px;
  outline: 1px dashed @rock-gray-300;
  margin-top: -4px !important;
}

// alignment of root children
.PageListRoot > .PageList > .PageList {
  margin-left: 0;
}
